<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangpj.mapper.ConferenceMapper">
  <resultMap id="BaseResultMap" type="com.yangpj.model.Conference">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="meeting_place" jdbcType="VARCHAR" property="meetingPlace" />
    <result column="convener" jdbcType="VARCHAR" property="convener" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, meeting_place, convener, contact, start_time, end_time, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from conference
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select * from conference
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from conference
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yangpj.model.Conference" useGeneratedKeys="true">
    insert into conference (title, meeting_place, convener, 
      contact, start_time, end_time, 
      `status`)
    values (#{title,jdbcType=VARCHAR}, #{meetingPlace,jdbcType=VARCHAR}, #{convener,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yangpj.model.Conference" useGeneratedKeys="true">
    insert into conference
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="meetingPlace != null">
        meeting_place,
      </if>
      <if test="convener != null">
        convener,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="meetingPlace != null">
        #{meetingPlace,jdbcType=VARCHAR},
      </if>
      <if test="convener != null">
        #{convener,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yangpj.model.Conference">
    update conference
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="meetingPlace != null">
        meeting_place = #{meetingPlace,jdbcType=VARCHAR},
      </if>
      <if test="convener != null">
        convener = #{convener,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yangpj.model.Conference">
    update conference
    set title = #{title,jdbcType=VARCHAR},
      meeting_place = #{meetingPlace,jdbcType=VARCHAR},
      convener = #{convener,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>