<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangpj.mapper.EmployeeecMapper">
  <resultMap id="BaseResultMap" type="com.yangpj.model.Employeeec">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="ecDate" jdbcType="DATE" property="ecDate" />
    <result column="ecReason" jdbcType="VARCHAR" property="ecReason" />
    <result column="ecPoint" jdbcType="INTEGER" property="ecPoint" />
    <result column="ecType" jdbcType="INTEGER" property="ecType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="EmployeeEcInfo" type="com.yangpj.model.Employeeec" extends="BaseResultMap">
    <association property="employee" javaType="com.yangpj.model.Employee">
      <id column="id" property="id" />
      <result column="name" property="name"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, eid, ecDate, ecReason, ecPoint, ecType, remark
  </sql>
  <select id="getEmpEcByPage" resultMap="EmployeeEcInfo">
    select ec.`id`,ec.`eid`,e.`name`,ec.`ecDate`,ec.`ecReason`,ec.`ecPoint`,ec.`ecType`,ec.`remark` from employee e,employeeec ec where e.id = ec.eid
  </select>
  <select id="getTotal" resultType="java.lang.Long">
    select count(*) from employeeec ec
    <where>
      <if test="empEc != null">
        <if test="beginDateScope !=null">
          and e.beginDate between #{beginDateScope[0]} and #{beginDateScope[1]}
        </if>
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employeeec
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employeeec
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yangpj.model.Employeeec">
    insert into employeeec (id, eid, ecDate, 
      ecReason, ecPoint, ecType, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{ecDate,jdbcType=DATE}, 
      #{ecReason,jdbcType=VARCHAR}, #{ecPoint,jdbcType=INTEGER}, #{ecType,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yangpj.model.Employeeec">
    insert into employeeec
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="ecDate != null">
        ecDate,
      </if>
      <if test="ecReason != null">
        ecReason,
      </if>
      <if test="ecPoint != null">
        ecPoint,
      </if>
      <if test="ecType != null">
        ecType,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ecDate != null">
        #{ecDate,jdbcType=DATE},
      </if>
      <if test="ecReason != null">
        #{ecReason,jdbcType=VARCHAR},
      </if>
      <if test="ecPoint != null">
        #{ecPoint,jdbcType=INTEGER},
      </if>
      <if test="ecType != null">
        #{ecType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yangpj.model.Employeeec">
    update employeeec
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ecDate != null">
        ecDate = #{ecDate,jdbcType=DATE},
      </if>
      <if test="ecReason != null">
        ecReason = #{ecReason,jdbcType=VARCHAR},
      </if>
      <if test="ecPoint != null">
        ecPoint = #{ecPoint,jdbcType=INTEGER},
      </if>
      <if test="ecType != null">
        ecType = #{ecType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yangpj.model.Employeeec">
    update employeeec
    set eid = #{eid,jdbcType=INTEGER},
      ecDate = #{ecDate,jdbcType=DATE},
      ecReason = #{ecReason,jdbcType=VARCHAR},
      ecPoint = #{ecPoint,jdbcType=INTEGER},
      ecType = #{ecType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>