<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangpj.mapper.TrainMapper">
  <resultMap id="BaseResultMap" type="com.yangpj.model.Train">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="participants" jdbcType="VARCHAR" property="participants" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="lecturer" jdbcType="VARCHAR" property="lecturer" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="share_time" jdbcType="TIMESTAMP" property="shareTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, participants, theme, lecturer, content, place, share_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from train
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yangpj.model.Train" useGeneratedKeys="true">
    insert into train (`name`, participants, theme, 
      lecturer, content, place, 
      share_time)
    values (#{name,jdbcType=VARCHAR}, #{participants,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}, 
      #{lecturer,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{shareTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yangpj.model.Train" useGeneratedKeys="true">
    insert into train
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="participants != null">
        participants,
      </if>
      <if test="theme != null">
        theme,
      </if>
      <if test="lecturer != null">
        lecturer,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="shareTime != null">
        share_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="participants != null">
        #{participants,jdbcType=VARCHAR},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="lecturer != null">
        #{lecturer,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="shareTime != null">
        #{shareTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yangpj.model.Train">
    update train
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="participants != null">
        participants = #{participants,jdbcType=VARCHAR},
      </if>
      <if test="theme != null">
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="lecturer != null">
        lecturer = #{lecturer,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="shareTime != null">
        share_time = #{shareTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yangpj.model.Train">
    update train
    set `name` = #{name,jdbcType=VARCHAR},
      participants = #{participants,jdbcType=VARCHAR},
      theme = #{theme,jdbcType=VARCHAR},
      lecturer = #{lecturer,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      share_time = #{shareTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>